<html>
	<head>
		<title>Perceptron AND</title>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/scss" href="assets/css/_variables.scss">
		<link rel="stylesheet" type="text/scss" href="assets/css/_bootwatch.scss">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</head>
	<body style="background-color: #191919">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary pt-3 pb-3">
		  <a class="navbar-brand font-weight-bold" href="#">PERCEPTRON UNICAPA</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  	<div class="collapse navbar-collapse" id="navbarColor01">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="#"><i class="fas fa-microchip mr-1"></i>Compuerta AND <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#"><i class="fas fa-microchip mr-1"></i>Compuerta NAND</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#"><i class="fas fa-microchip mr-1"></i>Compuerta OR</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#"><i class="fas fa-microchip mr-1"></i>Compuerta NOR</a>
		      </li>
		    </ul>


		  </div>
		</nav>
		<div class="container">
			<div class="row justify-content-center mt-3">
				<div class="col-1"></div>
				<div class="col-2 text-center">
					<div class="form-group">
					  <label class="col-form-label text-light" for="inputDefault">Peso #1</label>
					  <input type="text" class="form-control" placeholder="W1" id="inputDefault">
					</div>
					<div class="form-group">
					  <label class="col-form-label text-light" for="inputDefault">Peso #2</label>
					  <input type="text" class="form-control" placeholder="W2" id="inputDefault">
					</div>
					<div class="form-group">
					  <label class="col-form-label text-light" for="inputDefault">Salida Deseada</label>
					  <input type="text" class="form-control" placeholder="D" id="inputDefault">
					</div>

				</div>
				<div class="col-6 text-center">
					<img src="red.gif" width="527" height="290" alt="">
					<!--<video src="vid.mp4" width=527  height=290 controls autoplay=false">
				Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.<br>
				La versión descargable está disponible en <a href="URL">Enlace</a>. 
				</video>-->
				</div>
				<div class="col-2 text-center">
					<div class="form-group">
					  <label class="col-form-label text-light" for="inputDefault">Umbral o Bias</label>
					  <input type="text" class="form-control" placeholder="Ø" id="inputDefault">
					</div>
					<div class="form-group">
					  <label class="col-form-label text-light" for="inputDefault">Coeficiente de Aprendizaje</label>
					  <input type="text" class="form-control" placeholder="ŋ" id="inputDefault">
					</div>
					<div class="form-group">
					  <label class="col-form-label text-light" for="inputDefault">.</label>
					  <input type="text" class="form-control" placeholder="" id="inputDefault">
					</div>

				</div>
				<div class="col-1"></div>
				
			</div>
			<div class="row mx-auto mt-3">
				<div class="col-4">
					<button type="button" class="btn btn-success btn-lg btn-block"><i class="fas fa-diagnoses mr-1"></i>Entrenar</button>
				</div>
				<div class="col-4">
					<button type="button" class="btn btn-danger btn-lg btn-block"><i class="fas fa-check mr-1"></i>Comprobar</button>
				</div>
				<div class="col-4">
					<button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button>
				</div>
			</div>
			<div class="row mx-auto mt-3">
				<table class="table table-hover bg-light">
				  <thead>
				    <tr class="text-center">
				      <th scope="col">Iteracion</th>
				      <th scope="col">X1</th>
				      <th scope="col">X2</th>
				      <th scope="col">Prediccion</th>
				      <th scope="col">Salida Correcta</th>
				      <th scope="col">Peso 1</th>
				      <th scope="col">Peso 2</th>
				      <th scope="col">Bias</th>
				      <th scope="col">Coeficiente de Aprendizaje</th>
				      <th scope="col">Error</th>
				      <th scope="col">Tasa de Error</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr class="text-center">
				      <th scope="row">0</th>
				      <td>0</td>
				      <td>0</td>
				      <td>0</td>
				      <td>0</td>
				      <td>0</td>
				      <td>0</td>
				      <td>0</td>
				      <td>0</td>
				      <td>0</td>
				      <td>0</td>
				    </tr>
				  </tbody>
				</table> 
			</div>
		</div>
		
	</body>
	<script
		color="255,255,255"
		opacity='1'
		zIndex="-2"
		count="150"
		src="assets/js/canvas-nest.js">
	</script>

</html>